.big-container-about{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 1000px;
    margin: auto;
    // border: red solid 2px;
}

.img-container-me img{
   display: block;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 50px auto;
    border-radius: 50%;
    margin-bottom: 10px;


}
.about-text{
    font-family: "Source Serif Pro", serif;
    color: #393950;
    // border: green solid 2px;
    text-align: justify;   
    font-size: 20px;
    max-width: 700px;
    padding: 10px;
}
@media(min-width: 800px){
    .about-text{
        font-family: "Source Serif Pro", serif;
        color: #393950;
        
        padding-top: 100px;    
        font-size: 20px;
        max-width: 700px;
    }
    .big-container-about{
        display: flex;
        flex-direction: row;
    }
  
}
@media(min-width: 1200px){
    
    figcaption.img-container-me {
        margin-top: 36px;
    }
}