.EN{
    position: relative;
    left: 35%;
    bottom: 51px;
    text-decoration: none;
    color: #ebebeb;
    font-family: 'Roboto', sans-serif;
    margin-right: 5px;
}
.EN:hover{
    color: $myYellow;
    text-decoration: underline;
}

.byelanguage{
    display: none !important;
}
@media (min-width:800px){
    .EN{
        margin-right: -5px;
    }
}