.bigSectionProjects{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    justify-content: space-around !important;
}

.projectTarget img{
    max-width: 100%;
    height: auto;
    transition: all 420ms;
    border-radius: 10px;
}

.projectTarget{
    display: block;
    margin: 0 auto;
}
 .noneTarget{
    position: absolute;
    z-index: 100;
    text-align: center;
    display: block;
    background-color: rgba(0, 0, 0, 0.644);
    width: 280px;
    height: 160px;
    opacity: 0;
    transition: all 1s;
    cursor: pointer;
    border-radius: 10px;
 }
 .noneTarget:hover{
     opacity: 1;
 }
 .noneTarget h3{
     color: #ebebeb;
     font-family: 'Roboto', sans-serif;
     margin-top: 40px;
 }
.containerCaption{
    width: 280px;
    position: relative;
    margin-bottom: 15px;
}

.viewProjectButton{
    margin: 0 auto;
    border: $myYellow solid 2px;
    border-radius: 30px;
    background: transparent;
    padding: 5px;
    cursor: pointer;
    color: #ebebeb;
    transition: all 420ms;
   
}
.viewProjectButton:hover{
    transform: scale(1.2);
}



.projectMain{
    padding: 10px;
}

.butt{
    margin-right: 5px;
    color: #393950;
    
    font-family: 'Roboto', sans-serif;
    width: 150px ;
    
    body.dark &{
        color: $myBlueViolet;
        background-color: $myYellow;
    } 
}
.butt:hover{
    background-color: $myBlueViolet;
    color: #ebebeb;
    transition: all 420ms;
    border: none;
    transform: scale(1.1);
    
}
.buttons{
    text-align: center;
}
.textDescription{
    // font-family: 'Roboto', sans-serif;
    margin-top: 20px;
    text-align: center;
    color: $myBlueViolet;
    font-size: 20px;
    body.dark &{
        color: #ebebeb;        

    } 
}
.textDescription h2{
    width: 100%;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
  padding: 14px;
  text-align: center;
  body.dark &{
    color: #ebebeb;
} 
}
.textDescription h2::before{
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
    filter: blur(10px);
    margin: -20px;
}

.carousel-item img{
    border-radius: 10px;
}


@media (min-width:800px){
    .bigSectionProjects{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .projectTarget{
        margin: 10px;
    }
    div#carouselExampleIndicators{
        width: 60%;
    }
    .project-bigContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .textDescription{
        max-width: 420px;
        
    }
   
    .butt{
        margin-top: 20px;
    margin-right: 5px;
    }
}
