// SKILLS SECTION CODE

.sections-banner {
  width: 100%;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
  padding: 14px;
  margin-top: 78px;
}
.sections-banner:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  filter: blur(10px);
  margin: -20px;
}

//NEW RULES
.big-skill-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.skills-target-container {
  margin-top: 50px;
  width: 175px;
  height: 168px;
  perspective: 1000px;
  background-color: rgba(255, 255, 255, 0.384);
  border-radius: 10px;
  max-width: 220px;
  transition: all 420ms;
  cursor: pointer;
  padding: 10px;
  margin: 10px;
}
.skills-target-container:hover {
  box-shadow: -1px 2px 17px -1px rgba(0, 0, 0, 0.76);
  -webkit-box-shadow: -1px 2px 17px -1px rgba(0, 0, 0, 0.76);
  -moz-box-shadow: -1px 2px 17px -1px rgba(0, 0, 0, 0.76);
  body.dark &{
  box-shadow: -1px 2px 17px -1px rgba(255, 255, 255, 0.76);
  -webkit-box-shadow: -1px 2px 17px -1px rgba(255, 255, 255, 0.76);
  -moz-box-shadow: -1px 2px 17px -1px rgba(255, 255, 255, 0.76);
       
} 
}
.skills-target-container h3{
  font-size: 18px;
}
.skills-target-container img{
  width: 120px;
  height: 120px;
}

// .flip-box-inner {
//   position: relative;
//   width: 100%;
//   height: 100%;
//   text-align: center;
//   transition: transform 0.8s;
//   transform-style: preserve-3d;
// }
// .skills-target-container:hover .flip-box-inner {
//   transform: rotateY(180deg);
// }
// .flip-box-front,
// .flip-box-back {
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   -webkit-backface-visibility: hidden;
//   backface-visibility: hidden;
// }

.flip-box-front {
  color: #212529;
  text-align: center;
  font-family: "Nunito", sans-serif;
  body.dark &{
    color: #ebebeb;    
} 
}
// .flip-box-front h3 {
//   font-weight: 200;
// }

// .flip-box-back {
//   color: #212529;
//   transform: rotateY(180deg);
//   body.dark &{
//     color: #ebebeb;    
// } 
// }





@media (min-width: 800px) {
  //SKILLS
  .big-skill-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
