$myBlueViolet:#393950;
$myYellow: #FAAC2A;

*{
    box-sizing: border-box;
   
}
html{
    scroll-behavior: smooth ;
}

body{
    /* background-image: url("/image/back1.png"); */
    background-color: rgb(255, 255, 255);
    background-image: url("/image/back2.png");
    transition: .3s ease all;
    &.dark{
        background-color: $myBlueViolet;
        background-image: url("/image/dark-mode.png");       
        
    }

}

.switch{
    background: #343D5B;
    border-radius: 1000px;
    border:none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
  &::after{
      content: "";
      display: block;
      width: 30px;
      height: 30px;
      position:absolute;
      background-color: #f1f1f1;
      top: 0;
      left: 0;
      right: unset;
      border-radius: 100px;
      transition: .3s ease all;
      box-shadow: 0px 0px 2px rgba(0, 0, 0,.2);
  }
  &.active{
      background-color: $myYellow;
      color: black;
      &::after{
          right: 0;
          left: unset;
      }
  }
  span{
      width: 30px;
      height: 30px;
      line-height: 30px;
      display: block;
      background: none;
      color: #fff;
  }



}


/* HOME PAGE */
main.homePage{
    padding: 15px; 
    background-attachment: fixed; 
    background-size: cover;
    display: grid;
    align-items: center;
    justify-content: center;
       
}
.bigContainerHome {
    width: 100%;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 5px;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
    padding: 14px;
    margin-top: 78px;
} 
  .bigContainerHome:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
    margin: -20px;
  }

  .main-image img{
    width: 100%;
  }


.name{
    text-align: center;
    display: block;
    font-family: 'Source Serif Pro', serif;
    font-size: 60px;
    color:#393950;
   
    body.dark &{
        color: #ebebeb;
    }
    
}


.name2{
    margin-top: 0px;
}
//   BURGER MENU CODE
.burger-menu{
    background-color: #39395071;
    padding: 16px;
    position: fixed;
    z-index: 10;
    width: 100%;   
    
}
.burger-menu i{
    font-size: 16px;
    color:#ebebeb;
}
// NAV BAR CODE

.nav{
    background-color:#393950;
    position: relative;
    width: 100%;
    height: 53px;
}
nav{
    background-color: #39395071;
    position: fixed;
    display: none; 
    width: 100%;
    z-index: 100;
    height: 62px;
}   

nav ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;    
    justify-content: center;
}
nav ul li{
    padding: 20px;
}
nav ul li a{
    text-decoration: none;
    color: #ebebeb;;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    
}
.borderLeftRight {
    display: inline-block;
    position: relative;
    color: #ebebeb;
  }
  
  .borderLeftRight::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FAAC2A;
    transform-origin: bottom right;
    transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
  }
  
  .borderLeftRight:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }



// ARROW CODE
.arrow{
    position: fixed;
    right: 18px;
    z-index: 9;
    bottom: 8px;
    font-size: 40px;

}
.arrow i {
    color: #39395081;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(250, 172, 42, 0.7);
    animation: pulse 1.75s infinite cubic-bezier(0.66, 0, 0, 1);
    body.dark &{
        color: rgba(255, 255, 255, 0.61);
    } 
}

.arrow {
    padding: 12px 24px;
   
}

@keyframes pulse {
    to {
      box-shadow: 0 0 0 30px rgba(230, 237, 255, 0);
    }
}
  
// FOOTER CODE

.copyright{
    width: 100%;
    background-color: #393950;
    height: 50px;
}    
        .cop{
            color:#ebebeb;
            font-family: "Source Serif Pro", serif;
            text-align: center;
            background-color: inherit;
            padding-top: 15px;
            font-size: 15px;
        }









@media (min-width: 800px){
    .bigContainerHome{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .main-image{
        width: 50%;
      }
      .main-image img{
          margin-top: 120px;
      }
    
    .nameContainer{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }  
    nav{
        display: block;
    }
    .nav{
        height: 62px;
    }
    .burger-menu{
        display: none;
    }
    main.homePage{
        height: initial;
    }

   
      
}
@media (min-width: 1200px){
    .main-image img{
        margin-top: 50px;
    }
}

@import 'contact';
@import 'about-me';
@import 'skills';
@import 'soft-skills';



