<section class="first-contact-section">

    <a href="mailto:lukendziur@gmail.com" class="disparador">
      <article class="contact-icon">
        <i class="fas fa-envelope-open-text" id="email"></i>
        <h3 id="em">Si querés saber algo más sobre mi o sobre lo que hago, enviame un email y te contestaré ni bien pueda!</h3>
      </article>
    </a>
  
    <a href="https://github.com/Lukendziur" target="_blank" class="disparador">
      <article class="contact-icon">
        <i class="fab fa-github" id="github"></i>
        <h3 id="git">Acá podes ver mis proyectos y la forma en que están codeados</h3>
      </article>
    </a>
  
  
    <a href="https://codepen.io/lukendziur" target="_blank" class="disparador">
    <article class="contact-icon">
      <i class="fab fa-codepen" id="codepen"></i>
      <h3 id="code">En mi codepen podés encontrar algunos componentes para tu sitio :)</h3>
    </article>
  </a>
  
  
  <a href="https://www.linkedin.com/in/lucilavkendziur/" target="_blank" class="disparador">
    <article class="contact-icon">
      <i class="fab fa-linkedin" id="linkedin"></i>
      <h3 id="h3">También me podés encontrar en Linkedin</h3>
    </article>
  </a>
  
  </section>
  