<section class="big-container-softSkills">
    <div class="checkbox-container">
        <i class="far fa-check-square"></i>
        <h3>Comunicación Efectiva</h3>
    </div>
    
    <div class="checkbox-container">
        <i class="far fa-check-square"></i>
        <h3>Trabajo en equipo</h3>
    </div>
    <div class="checkbox-container">
        <i class="far fa-check-square"></i>
        <h3>Auto motivación</h3>
    </div>
    <div class="checkbox-container">
        <i class="far fa-check-square"></i>
        <h3>Creativa</h3>
    </div>
    <div class="checkbox-container">
        <i class="far fa-check-square"></i>
        <h3>Resolución de conflictos</h3>
    </div>
</section>