<section class="bigSectionProjects">
    <article class="projectTarget">
        <div class="containerCaption">
            <div class="noneTarget">
                <h3>Jardín Japonés</h3>
                <a href="/proyecto/jardin">
                <button class="viewProjectButton">Ver Proyecto</button></a>
            </div>
            
            <img src="/Screenshots/jardin.jpeg" alt="project picture">
        </div>

    </article>

    <article class="projectTarget">
        <div class="containerCaption">
            <div class="noneTarget">
                <h3>Gif Generator</h3>
                 <a href="/proyecto/GifGenerator">
                    <button class="viewProjectButton">Ver Proyecto</button></a> 
            </div>
          
            <img src="/Screenshots/gif.jpeg" alt="project picture">
        </div>


    </article>
    <article class="projectTarget">

        <div class="containerCaption">
            <div class="noneTarget">
                <h3>Este Portafolio</h3>
                <a href="/proyecto/Portfolio">
                <button class="viewProjectButton">Ver Proyecto</button></a>
            </div>
            <img src="/Screenshots/portada.jpeg" alt="project picture">
        </div>

    </article>

    <article class="projectTarget">

        <div class="containerCaption">
            <div class="noneTarget">
                <h3>E-commerce Relojes Ronin</h3>
                <a href="/proyecto/relojesRonin">
                <button class="viewProjectButton">Ver Proyecto</button></a>
            </div>
            <img src="Screenshots/ronin.jpeg" alt="project picture">
        </div>

    </article>

</section>