<div class="big-container-about">
    <figcaption class="img-container-me">
        <img src="./image/me1.jpeg" alt="Lucila Kendziur's picture">
    </figcaption>

    <div class="about-text">
        <h2>Hi there! 👋</h2>
        <h3> I'm Lu from Argentina. 3 things about me: I'm an apassionate about technology, I love cats and I like swimming. I'm Full Stack Developer and I work as a Netsuite Developer at a big Company. Besides, I'm writing my thesis to get my bachelor's degree in political science. (I forgot to mention the fourth thing: I like studying!)
        </h3>
    </div>

  
</div>
<div class="div-butStyle">
    <a href="https://drive.google.com/file/d/1U45llcUTbLlAA1r1R33ykeijq1fx7pdC/view?usp=sharing"  target="_blank">
<button class="butDownload">DOWNLOAD MY RESUME</button></a></div>