<div class="big-container-about">
    <figcaption class="img-container-me">
        <img src="./image/me.jpeg" alt="Lucila Kendziur's picture">
    </figcaption>

    <div class="about-text">
        <h2>Hi there! 👋</h2>
        <h3> I'm Lu from Argentina. I'm an apassionate about technology and politics. I'm Full Stack Developer student and I'm graduated from Political Science university. 
        </h3>
    </div>

  
</div>
<div class="div-butStyle">
    <a href="https://drive.google.com/file/d/1YAsCaqYUkV2tgVIsV0ZQ_Kzk8Yhc-5de/view?usp=sharing"  target="_blank">
<button class="butDownload">DOWNLOAD MY RESUME</button></a></div>