<section class="first-contact-section">

  <a href="mailto:lukendziur@gmail.com">
    <article class="contact-icon email">
      <i class="fas fa-envelope-open-text"></i>
    </article>
  </a>

  <a href="https://github.com/Lukendziur" target="_blank">
    <article class="contact-icon github">
      <i class="fab fa-github"></i>
    </article>
  </a>


  <a href="https://codepen.io/lukendziur" target="_blank">
  <article class="contact-icon codepen">
    <i class="fab fa-codepen"></i>
  </article>
</a>

  <a href="https://www.linkedin.com/in/lucilavkendziur/" target="_blank">
  <article class="contact-icon linkedin">
    <i class="fab fa-linkedin"></i>
  </article>
</a>

</section>