<section class="first-contact-section">

  <a href="mailto:lukendziur@gmail.com" class="disparador">
    <article class="contact-icon">
      <i class="fas fa-envelope-open-text" id="email"></i>
      <h3 id="em">If you want to know something more about me or my work please send me an email and I'll contact you as soon as I can!</h3>
    </article>
  </a>

  <a href="https://github.com/Lukendziur" target="_blank" class="disparador">
    <article class="contact-icon">
      <i class="fab fa-github" id="github"></i>
      <h3 id="git">Here you can see my projects and the way I code them</h3>
    </article>
  </a>


  <a href="https://codepen.io/lukendziur" target="_blank" class="disparador">
  <article class="contact-icon">
    <i class="fab fa-codepen" id="codepen"></i>
    <h3 id="code">Click here to find some codes to use on your website or in your projects :)</h3>
  </article>
</a>


<a href="https://www.linkedin.com/in/lucilavkendziur/" target="_blank" class="disparador">
  <article class="contact-icon">
    <i class="fab fa-linkedin" id="linkedin"></i>
    <h3 id="h3">You can find me and contact me on Linkedin too</h3>
  </article>
</a>

</section>


