<header>

  
    <section class="nav">
        
      <div class="burger-menu">
        <i class="fas fa-bars"></i>
    </div>
    
    <nav>
        <ul>
            <li><a href="#" class="borderLeftRight">Home</a></li>
            <li><a href="#about" class="borderLeftRight">About</a></li>
            <li><a href="#skills" class="borderLeftRight">Skills</a></li>
            <li><a href="#projects" class="borderLeftRight">Projects</a></li>
            <li><a href="#contact" class="borderLeftRight">Contact</a></li>
        </ul>
    </nav>
</section>

    <div class="arrow">
        <a href="#">
            <i class="fas fa-arrow-alt-circle-up"></i></a>
    </div>
</header>