<header>


    <section class="nav">

        <div class="burger-menu">
            
                <button class="triggerButton" id="trigger">
                   <i class="fas fa-bars" id="bars"></i>
                  
               </button>
               <nav id="mobileNav" class="nav-barNone styleMobileNav">
                   <ul>
                       <li><a href="/">Home</a></li>
                       <li><a href="#about">About</a></li>
                       <li><a href="#skills">Skills</a></li>
                       <li><a href="#projects">Projects</a></li>
                       <li><a href="#contact">Contact</a></li>
                   </ul>
               </nav>
             
            <!-- <i class="fas fa-times"></i> -->
            <button class="switchMobile" id="switchMobile">
                <span><i class="fas fa-sun"></i></span>
                <span><i class="fas fa-moon"></i></span>
            </button>
            <a href="/es" id="language" class="EN">ES <img src="/image/spain-flag.png" alt="cambia a español"> </a>
        </div>


        <nav class="desktop-nav-bar">
            <ul>
                <li><a href="/" class="borderLeftRight">Home</a></li>
                <li><a href="#about" class="borderLeftRight">About</a></li>
                <li><a href="#skills" class="borderLeftRight">Skills</a></li>
                <li><a href="#projects" class="borderLeftRight">Projects</a></li>
                <li><a href="#contact" class="borderLeftRight">Contact</a></li>
                <li><a href="/es">ES <img src="/image/spain-flag.png" alt="cambia a español"></a></li>
                <li> <button class="switch" id="switch">
                        <span><i class="fas fa-sun"></i></span>
                        <span><i class="fas fa-moon"></i></span>
                    </button></li>


            </ul>
        </nav>

    </section>

    <div class="arrow">
        <a href="#">
            <i class="fas fa-arrow-alt-circle-up"></i></a>
    </div>


</header>