<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Professional Portfolio">
    <meta name="keywords" content="web, developer">
    <meta name="author" content="Lucila V. Kendziur">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,600;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href='/css/style.css' />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <!-- <link rel="icon" href="/images/Ronin-logo-icon.ico">  -->
    <meta property="og:title" content="Professional Portfolio" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="Full Stack Developer" />
    <!-- <meta property="og:image" content="./images/Reloj1" /> -->
    <link rel="icon" href="/image/logo1.png">
    <meta property="og:description" content="Professional Lucila V. Kendziur's Portafolio" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Lucila V. Kendziur | Portfolio</title>
</head>