<section class="bigSectionProjects">
    <article class="projectTarget">
        <div class="containerCaption">
            <div class="noneTarget">
                <h3>Jardín Japonés</h3>
                <a href="/project/jardin">
                <button class="viewProjectButton">View Project</button></a>
            </div>
            
            <img src="/Screenshots/jardin.jpeg" alt="project picture">
        </div>

    </article>

    <article class="projectTarget">
        <div class="containerCaption">
            <div class="noneTarget">
                <h3>Gif Generator</h3>
                 <a href="/project/GifGenerator">
                    <button class="viewProjectButton">View Project</button></a> 
            </div>
          
            <img src="/Screenshots/gif.jpeg" alt="project picture">
        </div>


    </article>
    <article class="projectTarget">

        <div class="containerCaption">
            <div class="noneTarget">
                <h3>This Portfolio</h3>
                <a href="/project/Portfolio">
                <button class="viewProjectButton">View Project</button></a>
            </div>
            <img src="/Screenshots/portada.jpeg" alt="project picture">
        </div>

    </article>

    <article class="projectTarget">

        <div class="containerCaption">
            <div class="noneTarget">
                <h3>E-commerce Relojes Ronin</h3>
                <a href="/project/relojesRonin">
                <button class="viewProjectButton">View Project</button></a>
            </div>
            <img src="Screenshots/ronin.jpeg" alt="project picture">
        </div>

    </article>

</section>