<section class="big-skill-section">
    <div class="skills-target-container">
        <div class="flip-box-inner">
            <div class="skills-target flip-box-front">
                <img src="/image/html-css-javascript.png" alt="JS, HTML5 and CSS3's logo" width="140" height="140">
                <h3>JS, HTML & CSS</h3>
            </div>
            <!-- <div class="flip-box-back">
                <h2>I'm up to date with ECMAScript6, CSS3 and HTML5</h2>
            </div> -->
        </div>
    </div>
    <div class="skills-target-container">
        <div class="flip-box-inner">
            <div class="skills-target flip-box-front">
                <img src="/image/react..png" alt="JS, HTML5 and CSS3's logo" width="140" height="140">
                <h3>React</h3>
            </div>
            <!-- <div class="flip-box-back">
                <h2>I'm up to date with ECMAScript6, CSS3 and HTML5</h2>
            </div> -->
        </div>
    </div>
    <div class="skills-target-container">
        <div class="flip-box-inner">
            <div class="skills-target flip-box-front">
                <img src="/image/APIs.png" alt="JS, HTML5 and CSS3's logo" width="140" height="140">
                <h3>APIs</h3>
            </div>
            <!-- <div class="flip-box-back">
                <h2>I'm up to date with ECMAScript6, CSS3 and HTML5</h2>
            </div> -->
        </div>
    </div>
    <div class="skills-target-container">
        <div class="flip-box-inner">
            <div class="skills-target flip-box-front">
                <img src="/image/git.png" alt="GIT logo" width="140" height="140">
                <h3>GIT</h3>
            </div>
            <!-- <div class="flip-box-back">
                <h2> I know how to work with control-version system </h2>
            </div> -->
        </div>
    </div>

    <div class="skills-target-container">
        <div class="flip-box-inner">
            <div class="skills-target flip-box-front">
                <img src="/image/node.png" alt="node logo" width="140" height="140">
                <h3>NODE.JS</h3>
            </div>
            <!-- <div class="flip-box-back">
                <h2>EXPRESS
                                        
                </h2>
            </div> -->
        </div>
    </div>
    <div class="skills-target-container">
        <div class="flip-box-inner">
            <div class="skills-target flip-box-front">
                <img src="/image/Express.png" alt="node logo" width="140" height="140">
                <h3>Express</h3>
            </div>
            <!-- <div class="flip-box-back">
                <h2>EXPRESS
                                        
                </h2>
            </div> -->
        </div>
    </div>

    <div class="skills-target-container">
        <div class="flip-box-inner">
            <div class="skills-target flip-box-front">
                <img src="/image/sass-2.png" alt="SASS logo" width="140" height="140">
                <h3>SASS</h3>
            </div>
            <!-- <div class="flip-box-back">
                <h2>I'm new at SASS but I already work with variables</h2>
            </div> -->
        </div>
    </div>

    <div class="skills-target-container">
        <div class="flip-box-inner">
            <div class="skills-target flip-box-front">
                <img src="/image/github.png" alt="Github logo" width="140" height="140">
                <h3>GITHUB</h3>
            </div>
            <!-- <div class="flip-box-back">
                <h2>I've worked in several projects with GITHUB</h2>
            </div> -->
        </div>
    </div>

    <div class="skills-target-container">
        <div class="flip-box-inner">
            <div class="skills-target flip-box-front">
                <img src="/image/mysql.png" alt="mysql logo" width="140" height="140">
                <h3>MySQL</h3>
            </div>
            <!-- <div class="flip-box-back">
                <h2>I'm able to work with MySQL with Workbench</h2>
            </div> -->
        </div>
    </div>
    <div class="skills-target-container">
        <div class="flip-box-inner">
            <div class="skills-target flip-box-front">
                <img src="/image/workbench.png" alt="JS, HTML5 and CSS3's logo" width="140" height="140">
                <h3>Workbench</h3>
            </div>
            <!-- <div class="flip-box-back">
                <h2>I'm up to date with ECMAScript6, CSS3 and HTML5</h2>
            </div> -->
        </div>
    </div>

    <div class="skills-target-container">
        <div class="flip-box-inner">
            <div class="skills-target flip-box-front">
                <img src="/image/agile.png" alt="agile logo" width="140" height="140">
                <h3>AGILE</h3>
            </div>
            <!-- <div class="flip-box-back">
                <h2>I've worked under the SCRUM methodology</h2>
            </div> -->
        </div>
    </div>

    <div class="skills-target-container">
        <div class="flip-box-inner">
            <div class="skills-target flip-box-front">
                <img src="/image/responsive-design.png" alt="responsive design logo" width="140" height="140">
                <h3>RESPONSIVE DESIGN</h3>
            </div>
            <!-- <div class="flip-box-back">
                <h2>All my projects are adaptable to mobile, tablets and big screens</h2>
            </div> -->
        </div>
    </div>

    <div class="skills-target-container">
        <div class="flip-box-inner">
            <div class="skills-target flip-box-front">
                <img src="/image/npm.png" alt="npm logo" width="140" height="140">
                <h3>NPM</h3>
            </div>
            <!-- <div class="flip-box-back">
                <h2>I've worked with Node Package Manager</h2>
            </div> -->
        </div>
    </div>

    <!-- <div class="skills-target-container">
        <div class="flip-box-inner">
            <div class="skills-target flip-box-front">
                <img src="/image/react.png" alt="npm logo" width="140" height="140">
                <h3>REACT</h3>
            </div>
            <div class="flip-box-back">
                <h2>PRUEBA</h2>
            </div>
        </div>
    </div> -->

</section>