<section class="big-skill-section">
    <div class="skills-target-container">
        <div class="flip-box-inner">
            <div class="skills-target flip-box-front">
                <img src="/image/html-css-javascript.png" alt="JS, HTML5 and CSS3's logo" width="140" height="140">
                <h3>JS, HTML & CSS</h3>
            </div>
            
        </div>
    </div>
    <!-- <div class="skills-target-container">
        <div class="flip-box-inner">
            <div class="skills-target flip-box-front">
                <img src="/image/react..png" alt="JS, HTML5 and CSS3's logo" width="140" height="140">
                <h3>React</h3>
            </div>
            
        </div>
    </div> -->
    <div class="skills-target-container">
        <div class="flip-box-inner">
            <div class="skills-target flip-box-front">
                <img src="/Screenshots/APIs.png" alt="JS, HTML5 and CSS3's logo" width="140" height="140">
                <h3>APIs</h3>
            </div>
           
        </div>
    </div>
    <div class="skills-target-container">
        <div class="flip-box-inner">
            <div class="skills-target flip-box-front">
                <img src="/image/git.png" alt="GIT logo" width="140" height="140">
                <h3>GIT</h3>
            </div>
            
        </div>
    </div>

    <div class="skills-target-container">
        <div class="flip-box-inner">
            <div class="skills-target flip-box-front">
                <img src="/image/node.png" alt="node logo" width="140" height="140">
                <h3>NODE.JS</h3>
            </div>
            
        </div>
    </div>
    <div class="skills-target-container">
        <div class="flip-box-inner">
            <div class="skills-target flip-box-front">
                <img src="/image/Express.png" alt="node logo" width="140" height="140">
                <h3>Express</h3>
            </div>
            
        </div>
    </div>

    <div class="skills-target-container">
        <div class="flip-box-inner">
            <div class="skills-target flip-box-front">
                <img src="/image/sass-2.png" alt="SASS logo" width="140" height="140">
                <h3>SASS</h3>
            </div>
            
        </div>
    </div>

    <div class="skills-target-container">
        <div class="flip-box-inner">
            <div class="skills-target flip-box-front">
                <img src="/image/github.png" alt="Github logo" width="140" height="140">
                <h3>Github</h3>
            </div>
           
        </div>
    </div>

    <div class="skills-target-container">
        <div class="flip-box-inner">
            <div class="skills-target flip-box-front">
                <img src="/image/mysql.png" alt="mysql logo" width="140" height="140">
                <h3>MySQL</h3>
            </div>
            
        </div>
    </div>
    <div class="skills-target-container">
        <div class="flip-box-inner">
            <div class="skills-target flip-box-front">
                <img src="/image/workbench.png" alt="JS, HTML5 and CSS3's logo" width="140" height="140">
                <h3>Workbench</h3>
            </div>
            
        </div>
    </div>

    <div class="skills-target-container">
        <div class="flip-box-inner">
            <div class="skills-target flip-box-front">
                <img src="/image/agile.png" alt="agile logo" width="140" height="140">
                <h3>AGILE</h3>
            </div>
            
        </div>
    </div>

    <div class="skills-target-container">
        <div class="flip-box-inner">
            <div class="skills-target flip-box-front">
                <img src="/image/responsive-design.png" alt="responsive design logo" width="140" height="140">
                <h3>Responsive design</h3>
            </div>
            
        </div>
    </div>

    <div class="skills-target-container">
        <div class="flip-box-inner">
            <div class="skills-target flip-box-front">
                <img src="/image/npm.png" alt="npm logo" width="140" height="140">
                <h3>NPM</h3>
            </div>
           
        </div>
    </div>

    

</section>