
<div class="skills-target-container">
    
    <article class="skills-target JS-target">
        <img src="/image/html-css-javascript.png" alt="JS, HTML5 and CSS3's logo" width="140" height="140">
        <h3>JS, HTML & CSS</h3>
    </article>
    

    <article class="skills-target GIT-target">
        <img src="/image/git.png" alt="git's logo" width="140" height="140">
        <h3>GIT</h3>

    </article>
    <article class="skills-target node-target">
        <img src="/image/node.png" alt="node's logo" width="140" height="140">
        <h3>NODE.JS</h3>

    </article>
    <article class="skills-target sass-target">
        <img src="/image/sass-2.png" alt="sass's logo" width="140" height="140">
        <h3>SASS</h3>

    </article>
    <article class="skills-target github-target">
        <img src="/image/github.png" alt="github's logo" width="140" height="140">
        <h3>GITHUB</h3>

    </article>
    <article class="skills-target agile-target">
        <img src="/image/agile.png" alt="agile's logo" width="140" height="140">
        <h3>AGILE</h3>
        

    </article> 
 

</div>