<section class="big-container-softSkills">
    <div class="checkbox-container">
        <i class="far fa-check-square"></i>
        <h3>Effective Comunication</h3>
    </div>
    <div class="checkbox-container">
        <i class="far fa-check-square"></i>
        <h3>Public Speaking</h3>
    </div>
    <div class="checkbox-container">
        <i class="far fa-check-square"></i>
        <h3>Teamwork</h3>
    </div>
    <div class="checkbox-container">
        <i class="far fa-check-square"></i>
        <h3>Self-motivation</h3>
    </div>
    <div class="checkbox-container">
        <i class="far fa-check-square"></i>
        <h3>Creative</h3>
    </div>
    <div class="checkbox-container">
        <i class="far fa-check-square"></i>
        <h3>Conflict Resolution</h3>
    </div>
</section>