<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>


    <body>
        <%- include('partials/header') %>
            <main class="homePage">
                <section class="bigContainerHome">

                    <div class="nameContainer">
                        <h1 class="name">
                            Lucila V. Kendziur
                        </h1>
                        <h2 class="name name2">Front-end Developer</h2>
                    </div>

                    <figcaption class="main-image">
                        <img src="./image/me.svg" alt="picture">
                    </figcaption>
                </section>

            </main>
    </body>

</html>