<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>


    <body>
        <%- include('partials/header') %>
            <main class="homePage">
                <section class="bigContainerHome">

                    <div class="nameContainer">
                        <h1 class="name">
                            Lucila V. Kendziur
                        </h1>
                        <h2 class="name name2">Front-end Developer</h2>
                    </div>

                    <figcaption class="main-image">
                        <img src="./image/me.svg" alt="picture">
                    </figcaption>
                </section>

                <section class="aboutMe">
                    <div class="sections-banner">
                        <h1 class="name">About me</h1>
                            <a name="about"></a>
                    </div>

                </section>

                <section class="skills-Section">
                    <div class="sections-banner">
                        <h1 class="name">Skills</h1>
                            <a name="skills"></a>

                    </div>

                    <div class="skills-target-container">
                        <article class="skills-target">
                            <img src="/image/html-css-javascript.png" alt="JS, HTML5 and CSS3's logo" width="140" height="140">
                            <h3>JS, HTML & CSS</h3>
                        </article>
                        <article class="skills-target">
                            <img src="/image/git.png" alt="git's logo" width="140" height="140">
                            <h3>GIT</h3>

                        </article>
                        <article class="skills-target">
                            <img src="/image/node.png" alt="node's logo" width="140" height="140">
                            <h3>NODE.JS</h3>

                        </article>
                        <article class="skills-target">
                            <img src="/image/sass-2.png" alt="sass's logo" width="140" height="140">
                            <h3>SASS</h3>

                        </article>
                        <article class="skills-target">
                            <img src="/image/github.png" alt="github's logo" width="140" height="140">
                            <h3>GITHUB</h3>

                        </article>
                        <article class="skills-target">
                            <img src="/image/agile.png" alt="agile's logo" width="140" height="140">
                            <h3>AGILE</h3>

                        </article>
                     

                    </div>
                </section>


                <section class="projects">
                    <div class="sections-banner">
                        <h1 class="name">Projects</h1>
                            <a name="projects"></a>
                    </div>
                    
                </section>

                <section class="contact">
                    <div class="sections-banner">
                        <h1 class="name">Contact</h1>
                            <a name="contact"></a>
                    </div>
                    
                </section>

            </main>

        <%- include('partials/footer') %>

    </body>

</html>