<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
<body>
    <%- include('partials/header') %>

    <div class="slider-contenedor">
        <section class="contenido-slider">

            <img src="/Screenshots/jardin.jpeg" alt="screenshot carousel ">

        </section>
        <section class="contenido-slider">

            <img src="/Screenshots/jardin1.jpeg" alt="">

        </section>
        <section class="contenido-slider">

            <img src="/Screenshots/jardin2.jpeg" alt="">

        </section>
        <section class="contenido-slider">

            <img src="/Screenshots/jardin3.jpeg" alt="">

        </section>
    </div>

        <button>Go to project</button>
        <button>See the code</button>

        <h2>Description</h2>
        <p>I was hired to do the layout of the Japanese garden webpage. In this project, we use Jira to organize work. </p>

        <h2>Stack</h2>
            <p>This project was made with HTML, CSS, SASS and JavaScript.</p>













        <%- include('partials/footer') %>

            <script src="/js/main.js" type="text/javascript"></script>
            <script src="/js/slider.js" type="text/javascript"></script>

</body>
</html>