* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  /* background-image: url("/image/back1.png"); */
  background-color: white;
  background-image: url("/image/back2.png");
  transition: 0.3s ease all;
}
body.dark {
  background-color: #393950;
  background-image: url("/image/dark-mode.png");
}

.switch {
  background: #343D5B;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
}
.switch::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: #f1f1f1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  transition: 0.3s ease all;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}
.switch.active {
  background-color: #FAAC2A;
  color: black;
}
.switch.active::after {
  right: 0;
  left: unset;
}
.switch span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: none;
  color: #fff;
}

/* HOME PAGE */
main.homePage {
  padding: 15px;
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  align-items: center;
  justify-content: center;
}

.bigContainerHome {
  width: 100%;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
  padding: 14px;
  margin-top: 78px;
}

.bigContainerHome:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  filter: blur(10px);
  margin: -20px;
}

.main-image img {
  width: 100%;
}

.name {
  text-align: center;
  display: block;
  font-family: "Source Serif Pro", serif;
  font-size: 60px;
  color: #393950;
}
body.dark .name {
  color: #ebebeb;
}

.name2 {
  margin-top: 0px;
}

.burger-menu {
  background-color: #39395071;
  padding: 16px;
  position: fixed;
  z-index: 10;
  width: 100%;
}

.burger-menu i {
  font-size: 16px;
  color: #ebebeb;
}

.nav {
  background-color: #393950;
  position: relative;
  width: 100%;
  height: 53px;
}

nav {
  background-color: #39395071;
  position: fixed;
  display: none;
  width: 100%;
  z-index: 100;
  height: 62px;
}

nav ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
}

nav ul li {
  padding: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #ebebeb;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.borderLeftRight {
  display: inline-block;
  position: relative;
  color: #ebebeb;
}

.borderLeftRight::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FAAC2A;
  transform-origin: bottom right;
  transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

.borderLeftRight:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.arrow {
  position: fixed;
  right: 18px;
  z-index: 9;
  bottom: 8px;
  font-size: 40px;
}

.arrow i {
  color: #39395081;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(250, 172, 42, 0.7);
  animation: pulse 1.75s infinite cubic-bezier(0.66, 0, 0, 1);
}
body.dark .arrow i {
  color: rgba(255, 255, 255, 0.61);
}

.arrow {
  padding: 12px 24px;
}

@keyframes pulse {
  to {
    box-shadow: 0 0 0 30px rgba(230, 237, 255, 0);
  }
}
.copyright {
  width: 100%;
  background-color: #393950;
  height: 50px;
}

.cop {
  color: #ebebeb;
  font-family: "Source Serif Pro", serif;
  text-align: center;
  background-color: inherit;
  padding-top: 15px;
  font-size: 15px;
}

@media (min-width: 800px) {
  .bigContainerHome {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .main-image {
    width: 50%;
  }

  .main-image img {
    margin-top: 120px;
  }

  .nameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }

  nav {
    display: block;
  }

  .nav {
    height: 62px;
  }

  .burger-menu {
    display: none;
  }

  main.homePage {
    height: initial;
  }
}
@media (min-width: 1200px) {
  .main-image img {
    margin-top: 50px;
  }
}
.first-contact-section {
  width: 100%;
  margin-top: 30px;
}

.contact-icon {
  width: fit-content;
  margin: 0 auto;
}

.contact-icon a {
  margin: 0 auto;
  display: inline-block;
  text-align: center;
  width: fit-content;
}

.contact-icon i {
  font-size: 80px;
  color: black;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  transition: all 420ms;
  margin-top: 10px;
  margin-bottom: 30px;
  cursor: pointer;
}
body.dark .contact-icon i {
  color: #ebebeb;
}

.contact-icon i:hover {
  color: #393950;
}

@media (min-width: 800px) {
  .github:hover::before {
    content: "Here you can see my projects and the way I code them";
    width: 300px;
    font-size: 22px;
    display: inline-block;
    position: relative;
    background: transparent;
    border: #faae2ac2 solid 2px;
    border-radius: 20px 20px 0px 20px;
    padding: 10px;
    color: #393950;
  }
  body.dark .github:hover::before {
    color: #ebebeb;
  }

  .codepen:hover::after {
    content: "Here you can find some codes to use on your website or in your projects :)";
    width: 300px;
    font-size: 22px;
    display: inline-block;
    position: relative;
    background: transparent;
    border: #faae2ac2 solid 2px;
    border-radius: 20px 20px 20px 0px;
    padding: 10px;
    color: #393950;
  }
  body.dark .codepen:hover::after {
    color: #ebebeb;
  }

  .linkedin:hover::before {
    content: "You can find me and contact me on Linkedin too";
    width: 300px;
    font-size: 22px;
    display: inline-block;
    position: relative;
    background: transparent;
    border: #faae2ac2 solid 2px;
    border-radius: 20px 20px 0px 20px;
    padding: 10px;
    color: #393950;
  }
  body.dark .linkedin:hover::before {
    color: #ebebeb;
  }

  .email:hover::after {
    content: "If you want to know something more about me or my work please send me an email and I'll contact you as soon as I can!";
    width: 300px;
    font-size: 22px;
    display: inline-block;
    position: relative;
    background: transparent;
    border: #faae2ac2 solid 2px;
    border-radius: 20px 20px 20px 0px;
    padding: 10px;
    color: #393950;
    transition: all 420ms;
  }
  body.dark .email:hover::after {
    color: #ebebeb;
  }
}
.big-container-about {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 1000px;
  margin: auto;
}

.img-container-me img {
  display: block;
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 50px auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.about-text {
  font-family: "Source Serif Pro", serif;
  color: #393950;
  text-align: justify;
  font-size: 20px;
  max-width: 700px;
  padding: 10px;
}
body.dark .about-text {
  color: #ebebeb;
}

.butDownload {
  border: none;
  padding: 12px;
  width: 40%;
  color: #ebebeb;
  background-color: #393950;
  font-family: "Source Serif Pro", serif;
  min-width: 322px;
  cursor: pointer;
  transition: all 420ms;
  border-radius: 2px;
}

.butDownload:hover {
  background-color: #3939506e;
  color: #ebebeb;
}
body.dark .butDownload:hover {
  background-color: #ffffff6e;
  color: #393950;
}

.div-butStyle {
  display: flex;
  justify-content: center;
}

@media (min-width: 800px) {
  .about-text {
    padding-top: 100px;
  }

  .big-container-about {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 1200px) {
  figcaption.img-container-me {
    margin-top: 36px;
  }
}
.sections-banner {
  width: 100%;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
  padding: 14px;
  margin-top: 78px;
}

.sections-banner:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  filter: blur(10px);
  margin: -20px;
}

.big-skill-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.skills-target-container {
  margin-top: 50px;
  width: 300px;
  height: 200px;
  perspective: 1000px;
  background-color: rgba(255, 255, 255, 0.384);
  border-radius: 10px;
  max-width: 220px;
  transition: all 420ms;
  cursor: pointer;
  padding: 10px;
  margin: 10px;
}

.skills-target-container:hover {
  box-shadow: -1px 2px 17px -1px rgba(0, 0, 0, 0.76);
  -webkit-box-shadow: -1px 2px 17px -1px rgba(0, 0, 0, 0.76);
  -moz-box-shadow: -1px 2px 17px -1px rgba(0, 0, 0, 0.76);
}
body.dark .skills-target-container:hover {
  box-shadow: -1px 2px 17px -1px rgba(255, 255, 255, 0.76);
  -webkit-box-shadow: -1px 2px 17px -1px rgba(255, 255, 255, 0.76);
  -moz-box-shadow: -1px 2px 17px -1px rgba(255, 255, 255, 0.76);
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.skills-target-container:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front,
.flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  color: #212529;
  text-align: center;
  font-family: "Nunito", sans-serif;
}
body.dark .flip-box-front {
  color: #ebebeb;
}

.flip-box-front h3 {
  font-weight: 200;
}

.flip-box-back {
  color: #212529;
  transform: rotateY(180deg);
}
body.dark .flip-box-back {
  color: #ebebeb;
}

@media (min-width: 800px) {
  .big-skill-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.big-container-softSkills {
  width: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.checkbox-container h3 {
  display: inline-block;
  font-family: "Source Serif Pro", serif;
  color: #212529;
}
body.dark .checkbox-container h3 {
  color: #ebebeb;
}

.checkbox-container {
  display: block;
}

.checkbox-container i {
  color: #393950;
  font-size: 2em;
  transition: all 420ms;
  cursor: pointer;
}
body.dark .checkbox-container i {
  color: #ebebeb;
  transition: all 420ms;
}

.checkbox-container i:hover {
  color: #60cf60;
}
body.dark .checkbox-container i:hover {
  color: #60cf60;
}

@media (min-width: 800px) {
  .big-container-softSkills {
    flex-direction: row;
    justify-content: space-around;
  }
}

/*# sourceMappingURL=style.css.map */
